<head>
	<title>Landing Page</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<link href="/css/styles.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body style="background-color:grey">
	<div class="d-flex justify-content-center">
		<a href="/recipes/"><img src="/img/cooking-pot-1.svg" onmouseover="this.src='/img/cooking-pot-2.svg'" onmouseout="this.src='/img/cooking-pot-1.svg'" style="max-width:400px;height:400px;" id="enterButton"/></a>
	</div>
</body>
<!-- btn btn-sm w-50 p-0 my-1 -->
<!-- <a class="btn d-flex flex-column-center" href="/recipes/" id="enterButton"> -->