

.card {
	border: 1px solid #ddd;
	border-radius: 1rem;
	width: 29%;
	margin: 1rem 1.6%;
	display:inline-block; /*without this it might not display*/
}

.card-img {
	width: 100%;
	height: 20rem;
	object-fit: cover;
	border-radius: 1rem 1rem 0 0;
}

.card-title {
	text-align: center;
	font-family: 'Anton', sans-serif;
	font-weight: 400;
	font-size: 1.8rem;
}

.card-text {
	font-family: 'Noto Sans', sans-serif;
	line-height: 1.4;
}

/* show recipes */
.show_image-container img {
	width: 100%;
}

#enterButton {
    min-height: 10em;
    display: table-cell;
    vertical-align: middle
}

body {
	background-color: FFC225;
}